.bg-nav{
    background: #00467F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5CC82, #00467F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5CC82, #00467F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.mt-50{
    margin-top:50px;
}

.doodle-icon {
    width: 50px; /* Adjust the size as needed */
    height: 50px;
    opacity: 0.7; /* Adjust the opacity as needed for a faded effect */
    /* Add any other styles as needed */
  }